<table id="dtBasicExample" class="table table-responsive table-striped table-lg" cellspacing="0" width="100%">
                           <thead>
                              <tr>
                                 <th class="th-sm">Name
                                 </th>
                                 <th class="th-sm">Age
                                 </th>
                                 <th class="th-sm">Risk
                                 </th>
                                 <th class="th-sm">Progress                                    
                                 </th>
                                 <th class="th-sm">chills                                    
                                 </th>
                                 <th class="th-sm">collapse                                    
                                 </th>
                                 <th class="th-sm">cough                                    
                                 </th>
                                 <th class="th-sm">diabetes                                    
                                 </th>
                                 <th class="th-sm">heartdisese                                    
                                 </th>
                                 <th class="th-sm">highbp                                    
                                 </th>
                                 <th class="th-sm">kidneydisease                                  
                                 </th>
                                 <th class="th-sm">lostest                                    
                                 </th>
                                 <th class="th-sm">lungdisease                                    
                                 </th>
                                 <th class="th-sm">muscleAche                                    
                                 </th>
                                 <th class="th-sm">nausea                                    
                                 </th>
                                 <th class="th-sm">temperature                                    
                                 </th>
                                 <th class="th-sm">troubleBreath                                    
                                 </th>
                                 <th class="th-sm">Is_Quarantine                                  
                                 </th>
                                 <th class="th-sm">Quarantine_Location                                  
                                 </th>
                              </tr>
                           </thead>
                           <tbody>

                                  <% for(var k in userdata2) { %>  
                                <tr>
                                    <td><%= userdata2[k].name %></td>
                                    
                                     <td><%= userdata2[k].age %></td>
                                     <td><%= userdata2[k].risk %></td>
                                     <td><%= userdata2[k].progress %></td>
                                     <td><%= userdata2[k].chills %></td>
                                     <td><%= userdata2[k].collapse %></td>
                                     <td><%= userdata2[k].cough %></td>
                                     <td><%= userdata2[k].diabetes %></td>
                                     <td><%= userdata2[k].heartdisease %></td>
                                     <td><%= userdata2[k].highbp %></td>
                                     <td><%= userdata2[k].kidneydisease %></td>
                                     <td><%= userdata2[k].lostest %></td>
                                     <td><%= userdata2[k].lungdisease %></td>
                                     <td><%= userdata2[k].muscleAche %></td>
                                     <td><%= userdata2[k].nausea %></td>
                                     <td><%= userdata2[k].temperature %></td>
                                     
                                     <td><%= userdata2[k].troubleBreath %></td>
                                     <td><%= userdata2[k].Is_Quarantine %></td>
                                     <td><%= userdata2[k].Quarantine_Location %></td>
                                    
                                 </tr>
                                 <%  } %>
                              
                           </tbody>
                           <tfoot>
                              <tr>
                                 <th>Name
                                 </th>
                                 <th>Age
                                 </th>
                                 <th>Risk
                                 </th>
                                 <th>Progress
                                 </th>
                                 <th >chills                                    
                                 </th>
                                 <th >collapse                                    
                                 </th>
                                 <th >cough                                    
                                 </th>
                                 <th >diabetes                                    
                                 </th>
                                 <th >heartdisese                                    
                                 </th>
                                 <th >highbp                                    
                                 </th>
                                 <th >kidneydisease                                  
                                 </th>
                                 <th >lostest                                    
                                 </th>
                                 <th >lungdisease                                    
                                 </th>
                                 <th >muscleAche                                    
                                 </th>
                                 <th >nausea                                    
                                 </th>
                                 <th >temperature                                    
                                 </th>
                                 <th >troubleBreath                                    
                                 </th>
                                   <th >Is_Quarantine                                  
                                 </th>
                                 <th >Quarantine_Location                                  
                                 </th>
                              </tr>
                           </tfoot>
                        </table>


                           <table id="dtBasicExample" class="table table-responsive table-striped table-lg" cellspacing="0" width="100%">
                           <thead>
                              <tr>
                                 <th class="th-sm">Name
                                 </th>
                                 <th class="th-sm">Age
                                 </th>
                                 <th class="th-sm">Risk
                                 </th>
                                 <th class="th-sm">Progress                                    
                                 </th>
                                 <th class="th-sm">chills                                    
                                 </th>
                                 <th class="th-sm">collapse                                    
                                 </th>
                                 <th class="th-sm">cough                                    
                                 </th>
                                 <th class="th-sm">diabetes                                    
                                 </th>
                                 <th class="th-sm">heartdisese                                    
                                 </th>
                                 <th class="th-sm">highbp                                    
                                 </th>
                                 <th class="th-sm">kidneydisease                                  
                                 </th>
                                 <th class="th-sm">lostest                                    
                                 </th>
                                 <th class="th-sm">lungdisease                                    
                                 </th>
                                 <th class="th-sm">muscleAche                                    
                                 </th>
                                 <th class="th-sm">nausea                                    
                                 </th>
                                 <th class="th-sm">temperature                                    
                                 </th>
                                 <th class="th-sm">temperatureLevel                                    
                                 </th>
                                 <th class="th-sm">troubleBreath                                    
                                 </th>
                                  <th class="th-sm">Is_Quarantine                                  
                                 </th>
                                 <th class="th-sm">Quarantine_Location                                  
                                 </th>
                              </tr>
                           </thead>
                           <tbody>

                                  <% for(var k in userdata) { %>  
                                <tr>
                                    <td><%= userdata[k].name %></td>
                                    
                                     <td><%= userdata[k].age %></td>
                                     <td><%= userdata[k].risk %></td>
                                     <td><%= userdata[k].progress %></td>
                                     <td><%= userdata[k].chills %></td>
                                     <td><%= userdata[k].collapse %></td>
                                     <td><%= userdata[k].cough %></td>
                                     <td><%= userdata[k].diabetes %></td>
                                     <td><%= userdata[k].heartdisease %></td>
                                     <td><%= userdata[k].highbp %></td>
                                     <td><%= userdata[k].kidneydisease %></td>
                                     <td><%= userdata[k].lostest %></td>
                                     <td><%= userdata[k].lungdisease %></td>
                                     <td><%= userdata[k].muscleAche %></td>
                                     <td><%= userdata[k].nausea %></td>
                                     <td><%= userdata[k].temperature %></td>
                                     
                                     <td><%= userdata[k].troubleBreath %></td>

                                     <td><%= userdata[k].Is_Quarantine %></td>
                                     <td><%= userdata[k].Quarantine_Location %></td>
                                   
                                 </tr>
                                 <%  } %>
                              
                           </tbody>
                           <tfoot>
                              <tr>
                                 <th>Name
                                 </th>
                                 <th>Age
                                 </th>
                                 <th>Risk
                                 </th>
                                 <th>Progress
                                 </th>
                                 <th >chills                                    
                                 </th>
                                 <th >collapse                                    
                                 </th>
                                 <th >cough                                    
                                 </th>
                                 <th >diabetes                                    
                                 </th>
                                 <th >heartdisese                                    
                                 </th>
                                 <th >highbp                                    
                                 </th>
                                 <th >kidneydisease                                  
                                 </th>
                                 <th >lostest                                    
                                 </th>
                                 <th >lungdisease                                    
                                 </th>
                                 <th >muscleAche                                    
                                 </th>
                                 <th >nausea                                    
                                 </th>
                                 <th >temperature                                    
                                 </th>
                                 <th >troubleBreath                                    
                                 </th>
                                 <th >Is_Quarantine                                  
                                 </th>
                                 <th >Quarantine_Location                                  
                                 </th>
                              </tr>
                           </tfoot>
                        </table>
